.ProseMirror {
  padding: 8px;
}

.ProseMirror-focused {
  outline: none !important;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror p {
  /* line-height: 0.7; */
  margin: 0;
  color: black;
  font-size: 16px;
}

.ProseMirror p:hover {
  background-color: aliceblue;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  font-weight: bold;
  line-height: 1.1;
}

.ProseMirror h1 {
  font-size: 28px;
}

.ProseMirror h2 {
  font-size: 24px;
}

.ProseMirror h3 {
  font-size: 20px;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 500px;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror a {
  color: #2ecc71;
}

.ProseMirror img {
  display: block;
  width: 85%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

hr.ProseMirror-selectednode {
  border-top: 1px solid #68cef8;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.ProseMirror ul[data-type="taskList"] p {
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] li {
  display: flex;
  margin: 0;
  align-items: baseline;
  height: fit-content;
}

.ProseMirror ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  margin-top: 0;
  height: 13px;
  user-select: none;
}

.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] ul li,
.ProseMirror ul[data-type="taskList"] ol li {
  display: list-item;
}

.ProseMirror ul[data-type="taskList"] ul[data-type="taskList"] > li {
  display: flex;
}


.ProseMirror div[data-youtube-video] {
  cursor: move;
  display: flex;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

mark {
  background-color: #ffe066;
  border-radius: 0.25em;
  box-decoration-break: clone;
  padding: 4px;
}
