.tiptap-container {
    @apply h-full overflow-y-scroll ;
}

.tiptap-main-content {
    @apply pt-[110px];
}

.dlScrollbar::-webkit-scrollbar {
    display: inline-block;
}

.dlScrollbar::-webkit-scrollbar {
    width: 12px;
}

.dlScrollbar::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 6px;
}

.dlScrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.header {
    @apply absolute top-0 z-40;
    @apply w-full;
}

.title-pad {
    @apply bg-zinc-700 py-3 px-4;
    @apply text-white;
    @apply flex justify-between items-center;
}

.toolbar {
    @apply flex justify-center rounded-md gap-2 flex-nowrap;
    @apply px-4 py-2 bg-white z-50;
    /* @apply bg-gray-800; */
}

.group-item {
    @apply flex gap-2 text-black;
    @apply text-xs;
}

/* .group-item~.group-item {
    @apply border-l-2 pl-4;
} */

.btn-item {
    @apply px-3 py-2 rounded-md;
    /* @apply bg-gray-600; */
    @apply border border-gray-400
}

.btn-item.is-active {
    @apply bg-indigo-300 text-black;
}

.btn-item i {
    @apply text-inherit;
}