@import url("/src/styles/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}

@layer components {
    .item-sidebar_hover {
        @apply hover:bg-sidebar_hover;
    }
}


.bg-pattern-1 {
    background-image: linear-gradient(45deg,#f0f0f0 25%,transparent 0,transparent 50%,#f0f0f0 0,#f0f0f0 75%,transparent 0,#fff);
    background-size: 5px 5px;
}
